<div class="break-container-sm"></div>
		<table class="table">
			<tbody><tr>
				<th>Name</th>
				<th>Region</th>
				<th>Term</th>
				<th>Current Cost</th>
				<th>Quantity</th>
				<th>Proposed Cost</th>
				<th>Savings</th>
			</tr>
			
				<tr>
					<td>Standard_DS1_v2</td>
					<td>uksouth</td>
					<td>P1Y</td>
					<td>
						$62.16
					</td>
					<td>
						1
					</td>
					<td>
						$27.96
					</td>
					<td>
						$34.20
					</td>
				</tr>
			
		</tbody></table>
	</div>